.gallery
	#gallery-images.gallery__content

		- var photoPath = imgPath + "photos/gallery/"

		picture
			img(src=photoPath + "1-min.jpg", alt="")
		picture
			img(src=photoPath + "2-min.jpg", alt="")
		picture
			img(src=photoPath + "3-min.jpg", alt="")
		picture
			img(src=photoPath + "4-min.jpg", alt="")
		picture.double
			img(src=photoPath + "5-min.jpg", alt="")
		picture.double
			img(src=photoPath + "6-min.jpg", alt="")

		picture
			img(src=photoPath + "7-min.jpg", alt="")
		picture
			img(src=photoPath + "8-min.jpg", alt="")
		picture
			img(src=photoPath + "9-min.jpg", alt="")
		picture
			img(src=photoPath + "10-min.jpg", alt="")
		picture.double
			img(src=photoPath + "11-min.jpg", alt="")
		picture.double
			img(src=photoPath + "12-min.jpg", alt="")

		//- picture
		//- 	img(src=photoPath + "13-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "14-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "15-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "16-min.jpg", alt="")
		//- picture.double
		//- 	img(src=photoPath + "17-min.jpg", alt="")
		//- picture.double
		//- 	img(src=photoPath + "18-min.jpg", alt="")

		//- picture
		//- 	img(src=photoPath + "19-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "20-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "21-min.jpg", alt="")
		//- picture
		//- 	img(src=photoPath + "22-min.jpg", alt="")

	button#gallery-more-btn.more-items Показать ещё
