.gallery
	#gallery-images.gallery__content

		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")

		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")

		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")

		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture
			img(src=imgPath + "photos/gallery/example-photo-v.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")
		picture.double
			img(src=imgPath + "photos/gallery/example-photo-h.jpg", alt="")
	button#gallery-more-btn.more-items Показать ещё
